.gradient-title {
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.p-card {
    border-radius: 1rem !important;
    border: 1px solid #e5e7eb !important;
    transition: all 0.3s ease;
}

.p-inputtextarea {
    transition: all 0.3s ease !important;
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.p-button.p-button-icon-only {
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    .p-button.p-button-icon-only {
        transform: rotate(0deg);
    }
}